<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <div class="modal-body">
        <form id="uom-conversion-edit-form"
              method="post"
              th:action="@{/uoms/conversions/{id}(id=${uomConversion.id})}">
            <input type="hidden"
                   name="id"
                   th:value="${uomConversion.id}"/>
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>변경 전 단위</th>
                    <td th:text="|${uomConversion.fromUom.code} (${uomConversion.fromUom.name})|"></td>
                </tr>
                <tr>
                    <th>변경 후 단위</th>
                    <td th:text="|${uomConversion.toUom.code} (${uomConversion.toUom.name})|"></td>
                </tr>
                <tr>
                    <th>환산 계수 <span class="app-required">*</span></th>
                    <td>
                        <input type="number"
                               name="factor"
                               class="app-form-control app-xs"
                               th:value="${@format.decimalValue(uomConversion.factor)}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class=modal-footer>
        <button type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal">
            취소
        </button>
        <button type="submit"
                form="uom-conversion-edit-form"
                class="btn btn-primary btn-sm">
            저장
        </button>
    </div>
</th:block>

</html>