<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 공정 목록 모달 */-->
<th:block th:fragment="container (url)">
    <div th:replace="~{fragments/modal/default :: default (
        'process-list-modal',
        '공정 목록',
         ~{::content},
         1200
    )}">
        <div th:fragment="content" class="p-2">
            <div class="modal-body pt-0 app-modal-body">
                <!--/* 검색 필터 */-->
                <div th:replace="~{pages/process/modal/list/filter :: filter (${url})}">
                </div>

                <!--/* 공정 목록 */-->
                <div class="process-list"></div>
            </div>
        </div>
    </div>
</th:block>

</html>