<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 코드 수정 모달 */-->
<th:block th:fragment="editModal (codeGroup)">
    <div th:replace="~{/fragments/modal :: default (
        'edit-code-modal',
        '코드 수정',
        ~{::edit-modal-body},
        ~{::edit-modal-footer},
        null
    )}">
        <th:block th:fragment="edit-modal-body">
            <form id="edit-code-form" method="post">
                <input type="hidden"
                       id="group-id"
                       name="groupId"
                       th:value="${codeGroup.id}"/>
                <table class="app-table-input">
                    <colgroup>
                        <col style="width: 150px">
                        <col style="width: auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            코드 <span class="app-required">*</span>
                        </th>
                        <td>
                            <input type="text"
                                   name="code"
                                   class="app-form-control app-xs"
                                   placeholder="코드를 입력해 주세요."/>
                            <input type="hidden"
                                   id="id"
                                   name="id"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            코드명 <span class="app-required">*</span>
                        </th>
                        <td>
                            <input type="text"
                                   name="name"
                                   class="app-form-control app-xs"
                                   placeholder="권한 이름을 입력해 주세요."/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            코드 설명
                        </th>
                        <td>
                            <input type="text"
                                   name="description"
                                   class="app-form-control app-xs"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </th:block>
        <th:block th:fragment="edit-modal-footer">
            <button type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">
                취소
            </button>
            <button type="submit"
                    form="edit-code-form"
                    class="btn btn-primary btn-sm">
                저장
            </button>
        </th:block>
    </div>
</th:block>

</html>