<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 공정 목록 모달 */-->
<th:block th:fragment="list (modalId, url)">
    <div th:replace="~{fragments/modal/default :: default (
        ${modalId},
        '공정 목록',
         ~{::content},
         1200
    )}">
        <div th:fragment="content" class="p-2">
            <!--/* 검색 필터 */-->
            <div th:replace="~{pages/process/modal/filter :: filter (${url})}">
            </div>

            <!--/* 공정 목록 */-->
            <div class="process-list"></div>
        </div>
    </div>
</th:block>

</html>