<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="list">
    <div class="d-flex justify-content-sm-between mt-1">
        <div class="d-flex align-items-end">
            <p class="fw-bold mb-0"
               th:text="|Total : ${data.pagination.totalElements} 건|"></p>
        </div>
        <div>
            <button type="button"
                    class="process-select-confirm-button btn btn-primary btn-sm">
                <i class="fa fa-pencil" aria-hidden="true"></i> 등록
            </button>
        </div>
    </div>
    <div class="modal-body pt-0">
        <div id="process-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>공정 코드</th>
                    <th>공정명</th>
                    <th>공정 설명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="process : ${data.processes}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${process.id}"/>
                    </td>
                    <td class="fw-bold">
                        <a th:href="@{/processes/{id}(id=${process.id})}"
                           th:text="${process.code}"></a>
                    </td>
                    <td th:text="${process.name}"></td>
                    <td th:text="${@format.value(process.description)}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 페이지네이션 */-->
        <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
    </div>
</th:block>

</html>