<!--/* 기본 레이아웃 */-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, links, scripts, active, content)"
>
<head th:replace="~{fragments/layout/head :: head (${title}, ${links}, ${scripts})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="app-wrapper">
    <!--/* 사이드바 */-->
    <div th:replace="~{fragments/layout/sidebar :: sidebar (${active})}"></div>

    <!--/* 콘텐츠 */-->
    <div class="app-container" th:insert="${content}"></div>
</div>

<!--/* 알림 메시지 (서버 처리용) */-->
<th:block th:replace="~{fragments/toast/server-toast :: toast}"/>

<!--/* 알림 메시지 (화면 처리용) */-->
<th:block th:replace="~{fragments/toast/client-toast :: toast}"/>

<!--/* 컨펌 모달 */-->
<div th:replace="~{fragments/modal/confirm :: modal}"></div>
</body>
</html>