<!--/* 기본 레이아웃 */-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, links, scripts, active, content)"
>
<head th:replace="~{fragments/layout/head :: head (${title}, ${links}, ${scripts})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <!--/* 사이드바 */-->
    <div th:replace="~{fragments/layout/sidebar :: sidebar (${active})}"></div>

    <!--/* 콘텐츠 */-->
    <div class="container" th:insert="${content}"></div>
</div>

<!--/* 알림 메시지 */-->
<th:block th:replace="~{fragments/alert :: alert}"/>
</body>
</html>