<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('수주 수정', ~{}, ~{::script}, 'SALES_ORDER', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/sales-order/edit.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('수주 수정', '수주관리, 수주현황, 상세, 수정')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/sales-orders/{id}(id=${salesOrder.id})}'|">
            <i class="bi bi-x-circle"></i> 취소
        </button>

        <button type="submit"
                form="sales-order-edit-form"
                class="btn btn-primary btn-sm"
                sec:authorize="hasAuthority('SALES_ORDER_UPDATE')">
            <i class="bi bi-floppy"></i> 저장
        </button>
    </div>

    <!--/* 수정 양식 */-->
    <div class="app-box app-box-bg">
        <form id="sales-order-edit-form"
              method="post"
              th:action="@{/sales-orders/{id}(id=${salesOrder.id})}"
              th:object="${salesOrder}">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>거래처 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="partnerName"
                               class="app-form-control app-xs app-readonly-bg w-25"
                               th:value="*{partner.name}"
                               placeholder="거래처를 선택해 주세요."
                               readonly/>
                        <input type="hidden"
                               name="partnerId"
                               th:value="*{partner.id}"/>
                        <button type="button"
                                id="partner-list-button"
                                class="btn btn-secondary app-btn-xs"
                                th:disabled="*{status?.name != 'DRAFT'}">
                            <i class="bi bi-list"></i> 거래처 목록
                        </button>
                        <div id="partner-error-container"></div>
                    </td>
                </tr>
                <tr>
                    <th>등록일 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="date"
                               th:value="${#temporals.format(salesOrder.date, 'yyyy-MM-dd')}"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>납기일 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="dueDate"
                               th:value="${#temporals.format(salesOrder.dueDate, 'yyyy-MM-dd')}"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td>
                        <input type="text"
                               name="remark"
                               class="app-form-control app-xs"
                               th:value="*{remark}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!--/* 거래처 선택 모달 */-->
    <div th:replace="~{pages/partner/modal/list/container :: container (
        @{/partners/modal/list/single},
        'CUSTOMER')}">
    </div>
</div>
</body>
</html>