<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('생산지시 목록', ~{}, ~{::script}, 'PRODUCTION_ORDER', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/production-order/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('생산지시 목록', '생산관리, 생산지시')}">
    </div>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <!--/* 필터 */-->
        <div th:replace="~{pages/production-order/fragments/filter :: filter (
            '/production-orders',
            ${data.pagination.totalElements})}">
        </div>

        <!--/* 목록 */-->
        <div id="production-order-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 150px">
                    <col style="width: 100px">
                    <col style="width: auto">
                    <col style="width: 150px">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>생산지시 번호</th>
                    <th>제품 코드</th>
                    <th>제품명</th>
                    <th>규격</th>
                    <th>생산 수량</th>
                    <th>생산 예정일</th>
                    <th>비고</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(data.productionOrders)}">
                    <td colspan="9" class="p-4">등록된 생산지시 정보가 없습니다.</td>
                </tr>
                <tr th:each="productionOrder : ${data.productionOrders}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${productionOrder.id}"/>
                    </td>
                    <td class="fw-bold">
                        <a th:href="@{/production-orders/{id}(id=${productionOrder.id})}"
                           th:text="${productionOrder.orderNo}"></a>
                    </td>
                    <td th:text="${productionOrder.item.code}"></td>
                    <td th:text="${productionOrder.item.name}"></td>
                    <td th:text="${@format.value(productionOrder.item.specification)}"></td>
                    <td th:text="|${#numbers.formatDecimal(
                        productionOrder.quantity,1, productionOrder.item.uom.scale)} ${productionOrder.item.uom.code}|">
                    </td>
                    <td th:text="${#temporals.format(productionOrder.dueDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${@format.value(productionOrder.remark)}"></td>
                    <td th:switch="${productionOrder.status?.name}">
                        <h6 th:case="'DRAFT'" class="mb-0">
                            <span class="badge text-bg-secondary p-2"
                                  th:text="${productionOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'CONFIRMED'" class="mb-0">
                            <span class="badge text-bg-primary p-2"
                                  th:text="${productionOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'IN_PROGRESS'" class="mb-0">
                            <span class="badge text-bg-warning p-2"
                                  th:text="${productionOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'COMPLETED'" class="mb-0">
                            <span class="badge text-bg-success p-2"
                                  th:text="${productionOrder.status?.description}"></span>
                        </h6>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 페이지네이션 */-->
        <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
    </div>
</div>
</body>
</html>