<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 수정 페이지용 */-->
<th:block th:fragment="permissionEditor (actions, menuPermissions)">
    <div>
        <table class="app-table-input">
            <colgroup>
                <col style="width: 150px"/>
                <col style="width: 100px"/>
                <col th:each="action : ${actions}" style="width: 100px"/>
                <col style="width: auto"/>
            </colgroup>
            <thead>
            <tr>
                <th>메뉴</th>
                <th>전체</th>
                <th th:each="action : ${actions}"
                    th:text="${action.description}">
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menuPermission : ${menuPermissions}">
                <td th:text="${menuPermission.menu}" class="fw-bold"></td>
                <td>
                    <label style="display:block; width:100%; height:100%; cursor:pointer;">
                        <input type="checkbox"
                               class="menu-all-check"
                               style="cursor: pointer"/>
                    </label>
                </td>
                <td th:each="action : ${actions}">
                    <label th:if="${menuPermission.permissions.get(action) != null}"
                           style="display:block; width:100%; height:100%; cursor:pointer;">
                        <input type="checkbox"
                               name="permissionIds"
                               class="permission-check"
                               th:value="${menuPermission.permissions.get(action)?.id}"
                               th:checked="${menuPermission.permissions.get(action)?.checked}"
                               style="cursor: pointer"/>
                    </label>
                    <span th:unless="${menuPermission.permissions.get(action) != null}">
                        -
                    </span>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

</html>