<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="manage (partner, partnerContacts)">
    <div class="app-box app-box-bg mt-2">
        <div class="d-flex justify-content-between">
            <div>
                <p class="h5 fw-bold">담당자 관리</p>
            </div>
            <div>
                <button type="button"
                        id="contact-create-button"
                        th:data-partner-id="${partner.id}"
                        class="btn btn-primary btn-sm me-1">
                    <i class="bi bi-plus-circle"></i> 추가
                </button>
                <button type="button"
                        id="contact-delete-button"
                        class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i> 삭제
                </button>
            </div>
        </div>

        <div id="partner-contact-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 150px">
                    <col style="width: 150px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>담당자명</th>
                    <th>부서</th>
                    <th>직책</th>
                    <th>휴대폰 번호</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${partnerContacts}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${contact.id}"/>
                    </td>
                    <td class="fw-bold">
                        <a href="#"
                           class="contact-edit-link"
                           th:text="${contact.name}"
                           th:data-partner-id="${partner.id}"
                           th:data-id="${contact.id}"></a>
                    </td>
                    <td th:text="${@format.value(contact.department?.name)}"></td>
                    <td th:text="${@format.value(contact.position?.name)}"></td>
                    <td th:text="${@format.phoneNo(contact.phone)}"></td>
                    <td th:text="${@format.value(contact.tel)}"></td>
                    <td th:text="${@format.value(contact.email)}"></td>
                    <td th:text="${@format.value(contact.remark)}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

</html>