<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('공통코드 상세', ~{}, ~{::script}, 'USER', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/common/checkbox.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/common-code/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('공통코드 상세', '기준정보관리, 공통코드 관리, 상세')}">
    </div>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <!--/* 필터 */-->
        <div th:replace="~{pages/common-code/fragments/filter :: filter (
            @{/code-groups/{id}/common-codes(id=${codeGroup.id})},
            ${commonCodes.size()},
            true)}">
        </div>

        <!--/* 목록 */-->
        <div id="common-code-list">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>공통코드</th>
                    <th>공통코드 이름</th>
                    <th>설명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commonCode : ${commonCodes}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${commonCode.id}"/>
                    </td>
                    <td class="fw-bold">
                        <a th:href="@{/users/{id}(id=${user.id})}"
                           th:text="${commonCode.code}"></a>
                    </td>
                    <td th:text="${commonCode.name}"></td>
                    <td th:text="${commonCode.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>