<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('공통코드 상세', ~{}, ~{::script}, 'COMMON_CODE', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/common/checkbox.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/common-code/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <th:block th:with="group=${codeGroup.name + ' 코드'}">
        <div th:replace="~{fragments/content :: header (${group}, '기준정보관리, 공통코드 관리, 상세')}"></div>
    </th:block>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <!--/* 필터 */-->
        <div th:replace="~{pages/common-code/fragments/filter :: filter (
            @{/code-groups/{id}/codes(id=${codeGroup.id})},
            ${commonCodes.size()},
            true)}">
        </div>

        <!--/* 목록 */-->
        <div id="code-list">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>코드</th>
                    <th>코드명</th>
                    <th>설명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commonCode : ${commonCodes}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${commonCode.id}"/>
                    </td>
                    <td class="fw-bold">
                        <a href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#edit-code-modal"
                           th:text="${commonCode.code}"
                           th:data-bs-group-id="${codeGroup.id}"
                           th:data-bs-id="${commonCode.id}"></a>
                    </td>
                    <td th:text="${commonCode.name}"></td>
                    <td th:text="${commonCode.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--/* 등록 모달 */-->
    <div th:replace="~{/pages/common-code/fragments/create-modal :: createModal (${codeGroup})}"></div>

    <!--/* 수정 모달 */-->
    <div th:replace="~{/pages/common-code/fragments/edit-modal :: editModal}"></div>
</div>
</body>
</html>