<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('공정 단계 상세', ~{}, ~{::script}, 'PROCESS', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/routing-process/detail.js}"></script>
    <script type="module" th:src="@{/js/pages/process-material/form.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('공정 단계 상세', '기준정보관리, 제품공정관리, 상세, 수정, 공정상세')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/routings/{id}/edit(id=${routing.id})}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 이전 페이지
        </button>

        <button type="submit"
                class="btn btn-primary btn-sm"
                form="process-material-edit-form"
                sec:authorize="hasAuthority('ROUTING_UPDATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 저장
        </button>
    </div>

    <form id="process-material-edit-form"
          method="post"
          th:action="@{/routings/{routingId}/processes/{routingProcessId}/materials(routingId=${routing.id}, routingProcessId=${routingProcess.id})}"
          th:object="${routingProcess}">

        <!--/* 공정 단계 정보 */-->
        <div class="app-box app-box-bg">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>제품</th>
                    <td th:text="${routing.item.name}"></td>
                </tr>
                <tr>
                    <th>공정 코드</th>
                    <td th:text="*{process.code}"></td>
                </tr>
                <tr>
                    <th>공정명</th>
                    <td th:text="*{process.name}"></td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td th:text="${@format.value(routingProcess.process.description)}"></td>
                </tr>
                <tr>
                    <th>공정 단계</th>
                    <td th:text="*{stepNo}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 공정 소모 자재 목록 */-->
        <div th:replace="~{pages/process-material/fragments/form :: form (
            ${routingProcess},
            ${routing.item},
            ${primaryBom},
            ${processMaterialData})}">
        </div>
    </form>

    <!--/* 자재에서 추가 모달 */-->
    <div th:replace="~{pages/item/modal/select/base :: base (
        @{/items/bom_item/modal/select/multi},
        ${itemCategories},
        ${itemType})}">
    </div>

    <!--/* BOM에서 추가 모달 */-->
    <div th:replace="~{pages/bom-item/modal/select/base :: base (
         @{/bom-items/modal/select/multi},
         ${primaryBom},
         ${boms})}">
    </div>
</div>
</body>
</html>