<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('사용자 수정', ~{}, ~{::script}, 'USER', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/user/edit.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('사용자 수정', '시스템관리, 사용자관리, 상세, 수정')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/users}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 목록
        </button>

        <button type="submit"
                form="user-edit-form"
                class="btn btn-primary btn-sm"
                sec:authorize="hasAuthority('USER_UPDATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 저장
        </button>
    </div>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <form id="user-edit-form"
              method="post"
              th:action="@{/users/{id}(id=${user.id})}"
              th:object="${user}">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>사용자 ID</th>
                    <td th:text="*{userId}"></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password"
                               name="password"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                        <input type="password"
                               name="passwordConfirm"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>사용자명 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="name"
                               class="app-form-control app-xs"
                               th:value="*{name}"
                               placeholder="사용자 이름을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text"
                               name="email"
                               class="app-form-control app-xs"
                               th:value="*{email}"/>
                    </td>
                </tr>
                <tr>
                    <th>휴대폰 번호</th>
                    <td>
                        <input type="text"
                               name="phone"
                               class="app-form-control app-xs"
                               th:value="*{phone}"/>
                    </td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td>
                        <select name="departmentId"
                                class="app-form-control app-xs">
                            <option value="">
                                부서 선택
                            </option>
                            <option th:if="${#lists.isEmpty(departments)}" value="" disabled>
                                등록된 부서가 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(departments)}"
                                    th:each="department : ${departments}"
                                    th:value="${department.id}"
                                    th:text="${department.name}"
                                    th:selected="${department.id == user.department.id}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>직책</th>
                    <td>
                        <select name="positionId"
                                class="app-form-control app-xs">
                            <option value="">
                                직책 선택
                            </option>
                            <option th:if="${#lists.isEmpty(positions)}" value="" disabled>
                                등록된 직책이 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(positions)}"
                                    th:each="position : ${positions}"
                                    th:value="${position.id}"
                                    th:text="${position.name}"
                                    th:selected="${position.id == user.position.id}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>권한</th>
                    <td>
                        <select name="roleId"
                                class="app-form-control app-xs">
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}"
                                    th:selected="${role.id == user.role.id}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td>
                        <input type="text"
                               name="remark"
                               class="app-form-control app-xs"
                               th:value="*{remark}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>