<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('사용자 목록', ~{}, ~{::script}, 'USER', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/common/checkbox.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/user/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('사용자 목록', '시스템관리, 사용자관리')}">
    </div>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <!--/* 필터 */-->
        <div th:replace="~{pages/user/fragments/filter :: filter ('/users', ${data.pagination.totalElements}, true)}">
        </div>

        <!--/* 목록 */-->
        <div id="user-list">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>사용자 ID</th>
                    <th>사용자명</th>
                    <th>이메일</th>
                    <th>전화</th>
                    <th>부서</th>
                    <th>직책</th>
                    <th>권한</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${data.users}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${user.id}"
                               th:unless="${user.userId == 'admin'}"/>
                    </td>
                    <td class="fw-bold">
                        <a th:href="@{/users/{id}(id=${user.id})}"
                           th:text="${user.userId}"></a>
                    </td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${@format.value(user.email)}"></td>
                    <td th:text="${@format.phoneNo(user.phone)}"></td>
                    <td th:text="${@format.value(user.department?.name)}"></td>
                    <td th:text="${@format.value(user.position?.name)}"></td>
                    <td th:text="${@format.value(user.role?.name)}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 페이지네이션 */-->
        <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
    </div>
</div>
</body>
</html>