<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 설비 목록 모달 */-->
<th:block th:fragment="container (url, equipmentTypes)">
    <div th:replace="~{fragments/modal/default :: default (
        'equipment-list-modal',
        '설비 목록',
         ~{::content},
         1200
    )}">
        <div th:fragment="content" class="p-2">
            <div class="modal-body pt-0 app-modal-body">
                <!--/* 검색 필터 */-->
                <div th:replace="~{pages/equipment/modal/list/filter :: filter (
                    ${url},
                    ${equipmentTypes})}">
                </div>

                <!--/* 설비 목록 */-->
                <div class="equipment-list"></div>
            </div>
        </div>
    </div>
</th:block>

</html>