<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<div th:fragment="filter (url, count, showActions)">
  <form method="GET" th:action="${url}">
    <table class="app-table-input">
      <colgroup>
        <col style="width: 120px">
        <col style="width: auto">
        <col style="width: 120px">
        <col style="width: auto">
        <col style="width: 120px">
        <col style="width: auto">
        <col style="width: 120px">
        <col style="width: auto">
      </colgroup>
      <tbody>
      <tr>
        <th>품목 카테고리</th>
        <td>
          <select name="categoryCodeId"
                  class="app-form-control app-xs">
            <option value="">
              전체
            </option>
            <option th:if="${#lists.isEmpty(itemCategories)}" value="" disabled>
              등록된 카테고리가 없습니다.
            </option>
            <option th:each="category : ${itemCategories}"
                    th:value="${category.id}"
                    th:text="${category.name}"
                    th:selected="${category.id == selectedCategory}">
            </option>
          </select>
        </td>
        <th>품목 유형</th>
        <td>
          <select name="itemType"
                  class="app-form-control app-xs">
            <option value="">전체</option>
            <option th:each="type : ${itemTypes}"
                    th:value="${type?.name()}"
                    th:text="${type?.getDescription()}"
                    th:selected="${type?.name() == selectedType?.name()}">
            </option>
          </select>
        </td>
        <th>품목 코드</th>
        <td>
          <input type="text"
                 name="itemCode"
                 class="app-form-control app-xs"
                 th:value="${param.itemCode}">
        </td>
        <th>품목명</th>
        <td>
          <input type="text"
                 name="itemName"
                 class="app-form-control app-xs"
                 th:value="${param.itemName}">
        </td>
      </tr>
      </tbody>
    </table>

    <div class="mt-2 mb-2 text-end">
      <button type="submit" class="btn btn-secondary btn-sm">
        <i class="bi bi-search"></i> 조회
      </button>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <div class="fw-bold"
           th:text="|Total : ${count} 건|">
      </div>
      <div>
        <th:block th:if="${showActions}">
          <button type="button"
                  class="btn btn-primary btn-sm"
                  th:onclick="|location.href='@{/items/new}'|"
                  sec:authorize="hasAuthority('ITEM_CREATE')">
            <i class="bi bi-plus-circle"></i> 등록
          </button>
          <button type="button"
                  id="delete-item-button"
                  class="btn btn-danger btn-sm"
                  sec:authorize="hasAuthority('ITEM_DELETE')">
            <i class="bi bi-trash"></i> 삭제
          </button>
        </th:block>
      </div>
    </div>
  </form>
</div>

</html>