<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('제품 공정 수정', ~{}, ~{::script}, 'ROUTING', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/routing/edit.js}"></script>
    <script type="module" th:src="@{/js/pages/routing-process/form.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('제품 공정 수정', '기준정보관리, 제품공정관리, 상세, 수정')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/routings}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 목록
        </button>

        <button type="submit"
                form="routing-edit-form"
                class="btn btn-primary btn-sm"
                sec:authorize="hasAuthority('ROUTING_UPDATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 저장
        </button>
    </div>

    <form id="routing-edit-form"
          method="post"
          th:action="@{/routings/{id}(id=${routing.id})}"
          th:object="${routing}">
        <!--/* 수정 양식 */-->
        <div class="app-box app-box-bg">

            <input type="hidden" name="id" th:value="${routing.id}"/>

            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>제품</th>
                    <td th:text="*{item.name}"></td>
                </tr>
                <tr>
                    <th>제품 공정 코드 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="code"
                               class="app-form-control app-xs"
                               th:value="*{code}"
                               placeholder="제품 공정 코드를 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>제품 공정명 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="name"
                               class="app-form-control app-xs"
                               th:value="*{name}"
                               placeholder="제품 공정명을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>버전</th>
                    <td>
                        <input type="text"
                               name="version"
                               class="app-form-control app-xs"
                               th:value="*{version}"/>
                    </td>
                </tr>
                <tr>
                    <th>기본 공정 여부</th>
                    <td>
                        <label>
                            <input type="checkbox"
                                   name="primary"
                                   value="true"
                                   th:checked="*{primary}"/>
                            기본 공정으로 지정
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>
                        <input type="text"
                               name="description"
                               th:value="*{description}"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 제품 공정 단계 양식 */-->
        <div th:replace="~{pages/routing-process/fragments/form :: form (${routing}, ${routingProcesses})}"></div>
    </form>

    <!--/* 공정 목록 모달 */-->
    <div th:replace="~{pages/process/modal/list/container :: container (
        '/processes/modal/list/multiple')}">
    </div>
</div>
</body>
</html>