<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="list">
    <div class="d-flex justify-content-start">
        <div class="fw-bold"
             th:text="|Total : ${data.pagination.totalElements} 건|">
        </div>
    </div>
    <div id="item-table">
        <table class="app-table-list text-center">
            <colgroup>
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: auto">
                <col style="width: 100px">
            </colgroup>
            <thead>
            <tr>
                <th>품목 코드</th>
                <th>품목명</th>
                <th>품목 카테고리</th>
                <th>품목 유형</th>
                <th>규격</th>
                <th>단위</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${data.items}">
                <td th:text="${item.code}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.category.name}"></td>
                <td th:text="${item.type?.description}"></td>
                <td th:text="${@format.value(item.specification)}"></td>
                <td th:text="${@format.value(item.uom.name)}"></td>
                <td></td>
                <td>
                    <button type="button"
                            class="btn btn-primary btn-sm item-select-button"
                            th:data-id="${item.id}"
                            th:data-name="${item.name}">
                        선택
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--/* 페이지네이션 */-->
    <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
</th:block>

</html>