<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('품목 재고 목록', ~{}, ~{::script}, 'ITEM_INVENTORY', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/common/checkbox.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/item/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('품목 재고 목록', '재고관리, 품목재고조회')}">
    </div>

    <!--/* 바디 */-->
    <div class="app-box app-box-bg">
        <!--/* 필터 */-->
        <div th:replace="~{pages/inventory/fragments/filter :: filter ('/inventories', ${data.pagination.totalElements}, false)}">
        </div>

        <!--/* 목록 */-->
        <div id="item-list">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th>품목 코드</th>
                    <th>품목명</th>
                    <th>품목 카테고리</th>
                    <th>품목 유형</th>
                    <th>규격</th>
                    <th>단위</th>
                    <th>재고 수량</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inventory : ${data.inventories}">
                    <td th:text="${inventory.item.code}"></td>
                    <td th:text="${inventory.item.name}"></td>
                    <td th:text="${@format.value(inventory.item.category)}"></td>
                    <td th:text="${inventory.item.type?.description}"></td>
                    <td th:text="${@format.value(inventory.item.specification)}"></td>
                    <td th:text="${inventory.item.uom.code}"></td>
                    <td th:text="${#numbers.formatDecimal(
                        inventory.totalQuantity, 1, inventory.item.uom.decimalPlaces)}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* 페이지네이션 */-->
        <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
    </div>
</div>
</body>
</html>