<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="filter (url, inspectionGroups)">
    <form class="inspection-item-search-form" method="GET" th:action="${url}">
        <table class="app-table-input">
            <colgroup>
                <col style="width: 150px">
                <col style="width: auto">
                <col style="width: 150px">
                <col style="width: auto">
            </colgroup>
            <tbody>
            <tr>
                <th>검사그룹</th>
                <td>
                    <select name="groupId"
                            class="app-form-control app-xs"
                            th:value="${param.groupId}">
                        <option value="">전체</option>
                        <option th:if="${#lists.isEmpty(inspectionGroups)}" disabled>
                            등록된 검사그룹이 없습니다.
                        </option>
                        <option th:each="group : ${inspectionGroups}"
                                th:value="${group.id}"
                                th:text="${@format.nameWithCode(group.code, group.name)}"
                                th:selected="${#strings.equals(param.group, group.id)}"></option>
                    </select>
                </td>
                <th>검사항목 코드</th>
                <td>
                    <input type="text"
                           name="code"
                           class="app-form-control app-xs"
                           th:value="${param.code}">
                </td>
                <th>검사항목명</th>
                <td>
                    <input type="text"
                           name="name"
                           class="app-form-control app-xs"
                           th:value="${param.name}">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-2 text-end">
            <button type="submit" class="btn btn-secondary btn-sm">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>
    </form>
</div>

</html>