<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="list">
    <div class="d-flex justify-content-sm-between mt-1">
        <div class="d-flex align-items-end">
            <p class="fw-bold mb-0"
               th:text="|Total : ${data.pagination.totalElements} 건|"></p>
        </div>
        <div>
            <button type="button"
                    class="add-button btn btn-primary btn-sm">
                <i class="bi bi-check-circle"></i> 등록
            </button>
        </div>
    </div>
    <div id="inspection-item-table">
        <table class="app-table-list text-center">
            <colgroup>
                <col style="width: 50px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: auto">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" class="check-all"/></th>
                <th>검사그룹</th>
                <th>검사항목 코드</th>
                <th>검사항목명</th>
                <th>설명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inspectionItem : ${data.inspectionItems}">
                <td>
                    <input type="checkbox"
                           class="check-item"
                           th:value="${inspectionItem.id}"/>
                </td>
                <td th:text="${@format.nameWithCode(inspectionItem.group.code, inspectionItem.group.name)}"></td>
                <td th:text="${inspectionItem.code}"></td>
                <td th:text="${inspectionItem.name}"></td>
                <td th:text="${@format.value(inspectionItem.description)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--/* 페이지네이션 */-->
    <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
</th:block>

</html>