<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <div class="modal-body">
        <form id="contact-edit-form"
              method="post"
              th:action="@{/partner-contacts/{id}(id=${contact.id})}">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>담당자명 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="name"
                               class="app-form-control app-xs"
                               th:value="${contact.name}"
                               placeholder="담당자명을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td>
                        <select name="departmentId"
                                class="app-form-control app-xs">
                            <option value="">
                                부서 선택
                            </option>
                            <option th:if="${#lists.isEmpty(departments)}" value="" disabled>
                                등록된 부서가 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(departments)}"
                                    th:each="department : ${departments}"
                                    th:value="${department.id}"
                                    th:text="${department.name}"
                                    th:selected="${department.id == contact.department.id}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>직책</th>
                    <td>
                        <select name="positionId"
                                class="app-form-control app-xs">
                            <option value="">
                                직책 선택
                            </option>
                            <option th:if="${#lists.isEmpty(positions)}" value="" disabled>
                                등록된 직책이 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(positions)}"
                                    th:each="position : ${positions}"
                                    th:value="${position.id}"
                                    th:text="${position.name}"
                                    th:selected="${position.id == contact.position.id}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>휴대폰 번호</th>
                    <td>
                        <input type="text"
                               name="phone"
                               class="app-form-control app-xs"
                               th:value="${contact.phone}"/>
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input type="text"
                               name="tel"
                               class="app-form-control app-xs"
                               th:value="${contact.tel}"/>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text"
                               name="email"
                               class="app-form-control app-xs"
                               th:value="${contact.email}"/>
                    </td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td>
                        <input type="text"
                               name="remark"
                               class="app-form-control app-xs"
                               th:value="${contact.remark}"/>
                    </td>
                </tr>
                <tr>
                    <th>사용여부</th>
                    <td>
                        <select name="active"
                                class="app-form-control app-xs">
                            <option value="true" th:selected="${contact.active == true}">사용</option>
                            <option value="false" th:selected="${contact.active == false}">미사용</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class=modal-footer>
        <button type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal">
            취소
        </button>
        <button type="submit"
                form="contact-edit-form"
                class="btn btn-primary btn-sm">
            저장
        </button>
    </div>
</th:block>

</html>