<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="form">
    <div class="modal-body">
        <form id="contact-create-form"
              method="post"
              th:action="@{/partners/{partnerId}/contacts(partnerId=${partnerId})}">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>
                        <label for="new-name">
                            담당자명 <span class="app-required">*</span>
                        </label>
                    </th>
                    <td>
                        <input type="text"
                               id="new-name"
                               name="name"
                               class="app-form-control app-xs"
                               placeholder="담당자명을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-departmentId">
                            부서
                        </label>
                    </th>
                    <td>
                        <select name="departmentId"
                                id="new-departmentId"
                                class="app-form-control app-xs">
                            <option value="">
                                부서 선택
                            </option>
                            <option th:if="${#lists.isEmpty(departments)}" value="" disabled>
                                등록된 부서가 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(departments)}"
                                    th:each="department : ${departments}"
                                    th:value="${department.id}"
                                    th:text="${department.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-positionId">
                            직책
                        </label>
                    </th>
                    <td>
                        <select name="positionId"
                                id="new-positionId"
                                class="app-form-control app-xs">
                            <option value="">
                                직책 선택
                            </option>
                            <option th:if="${#lists.isEmpty(positions)}" value="" disabled>
                                등록된 직책이 없습니다.
                            </option>
                            <option th:unless="${#lists.isEmpty(positions)}"
                                    th:each="position : ${positions}"
                                    th:value="${position.id}"
                                    th:text="${position.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-phone">휴대폰 번호</label>
                    </th>
                    <td>
                        <input type="text"
                               id="new-phone"
                               name="phone"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-tel">전화번호</label>
                    </th>
                    <td>
                        <input type="text"
                               id="new-tel"
                               name="tel"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-email">이메일</label>
                    </th>
                    <td>
                        <input type="text"
                               id="new-email"
                               name="email"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="new-remark">비고</label>
                    </th>
                    <td>
                        <input type="text"
                               id="new-remark"
                               name="remark"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal">
            취소
        </button>
        <button type="submit"
                form="contact-create-form"
                class="btn btn-primary btn-sm">
            저장
        </button>
    </div>
</th:block>

</html>