<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 품목 목록 모달 */-->
<th:block th:fragment="list (url, itemCategories, itemTypes)">
    <div th:replace="~{fragments/modal/default :: default (
        'item-list-modal',
        '품목 목록',
         ~{::#item-list-modal-content},
         1200
    )}">
        <div id="item-list-modal-content"
             class="p-2">
            <!--/* 검색 필터 */-->
            <div th:replace="~{pages/item/modal/filter :: filter (${url}, ${itemCategories}, ${itemTypes})}">
            </div>

            <!--/* 품목 목록 */-->
            <div id="item-list"></div>
        </div>
    </div>
</th:block>

</html>