<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout/head :: head ('로그인', ~{::link}, ~{})}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
</head>
<body>
<div class="login-wrapper">
    <div class="login-container">
        <div class="login-header">
            <img src="/images/logo.png" style="width: 330px; margin-bottom: -50px; background-color: white;">
        </div>

        <form id="inputForm" method="POST" th:action="@{/login}">
            <div class="login-body">
                <div th:if="${param.error}" class="app-alert">
                    <p style="color:red; font-weight: bold;">아이디와 패스워드가 정확하지 않습니다.</p>
                </div>

                <div class="app-form-group">
                    <label>
                        <i class="fa fa-user-circle-o" aria-hidden="true"> 아이디</i>
                    </label>
                    <input type="text" name="username" class="app-form-control" value=""
                           placeholder="아이디를 입력해 주세요."/>
                </div>
                <div class="app-form-group">
                    <label>
                        <i class="fa fa-lock" aria-hidden="true"> 비밀번호</i>
                    </label>
                    <input type="password" id="password" name="password" class="app-form-control"
                           value="" placeholder="비밀번호를 입력해 주세요.">
                </div>

                <div class="app-form-group d-grid">
                    <input type="submit" class="btn btn-primary btn-sm" value="로그인">
                </div>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#inputForm").validate({
            rules: {
                username: "required",
                password: "required"
            },
            messages: {
                username: "아이디를 입력해 주세요.",
                password: "비밀번호를 입력해 주세요."
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
</body>
</html>