<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main :: layout ('거래처 목록', ~{}, ~{::script}, 'PARTNER', ~{::#app-content})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script th:src="@{/js/common/checkbox.js}"></script>
  <script th:src="@{/js/common/ajax.js}"></script>
  <script th:src="@{/js/partner/list.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
  <!--/* 헤더 */-->
  <div th:replace="~{fragments/content :: header ('거래처 목록', '기준정보관리, 거래처관리')}">
  </div>

  <!--/* 바디 */-->
  <div class="app-box app-box-bg">
    <!--/* 필터 */-->
    <div th:replace="~{pages/partner/fragments/filter :: filter ('/partners', ${data.pagination.totalElements}, true)}">
    </div>

    <!--/* 목록 */-->
    <div id="partner-list">
      <table class="app-table-list text-center">
        <colgroup>
          <col style="width: 50px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 200px">
          <col style="width: 150px">
          <col style="width: auto">
        </colgroup>
        <thead>
        <tr>
          <th><input type="checkbox" class="check-all"/></th>
          <th>거래처 코드</th>
          <th>거래처명</th>
          <th>거래처 유형</th>
          <th>대표자명</th>
          <th>전화</th>
          <th>팩스</th>
          <th>이메일</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="partner : ${data.partners}">
          <td>
            <input type="checkbox"
                   class="check-item"
                   th:value="${partner.id}"/>
          </td>
          <td class="fw-bold">
            <a th:href="@{/partners/{id}(id=${partner.id})}"
               th:text="${partner.code}"></a>
          </td>
          <td th:text="${partner.name}"></td>
          <td th:text="${partner.type?.description}"></td>
          <td th:text="${@format.value(partner.ceoName)}"></td>
          <td th:text="${@format.value(partner.tel)}"></td>
          <td th:text="${@format.value(partner.fax)}"></td>
          <td th:text="${@format.value(partner.email)}"></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--/* 페이지네이션 */-->
    <div th:replace="~{fragments/pagination :: pagination (${data.pagination})}"></div>
  </div>
</div>
</body>
</html>