<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('권한 상세', ~{}, ~{}, 'ROLE', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('권한 상세', '시스템관리, 권한관리, 상세')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary"
                th:onclick="|location.href='@{/roles}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 목록
        </button>

        <button type="button"
                class="btn btn-primary"
                th:onclick="|location.href='@{/roles/{id}/edit(id=${roleDetail.role.id})}'|"
                sec:authorize="hasAuthority('ROLE_UPDATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 수정
        </button>
    </div>

    <!--/* 역할 */-->
    <div class="app-box app-box-bg">
        <table class="app-table-input" th:object="${roleDetail.role}">
            <colgroup>
                <col style="width: 150px">
                <col style="width: auto">
            </colgroup>
            <tbody>
            <tr>
                <th>권한 코드</th>
                <td th:text="*{code}"></td>
            </tr>
            <tr>
                <th>권한 이름</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td th:text="*{description}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--/* 권한 */-->
    <div class="app-box app-box-bg mt-2">
        <div th:replace="~{pages/role/fragments/permission :: list (${actions}, ${roleDetail.menuPermissions})}">
        </div>
    </div>
</div>
</body>
</html>