<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('권한 등록', ~{}, ~{::script}, 'USER', ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/role/new.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('권한 등록', '시스템관리, 권한관리, 등록')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn"
                th:onclick="|location.href='@{/roles}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 목록
        </button>

        <button type="submit"
                form="create-role-form"
                class="btn btn-primary"
                sec:authorize="hasAuthority('ROLE_CREATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 저장
        </button>
    </div>

    <!--/* 바디 */-->
    <div class="box box-bg">
        <form id="create-role-form" method="post" th:action="@{/roles}">
            <table class="table-input xs">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>
                        <label for="code">
                            권한 코드 <span class="required">*</span>
                        </label>
                    </th>
                    <td>
                        <input type="text"
                               id="code"
                               name="code"
                               class="form-control xs"
                               placeholder="권한 코드를 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="name">
                            권한 이름 <span class="required">*</span>
                        </label>
                    </th>
                    <td>
                        <input type="text"
                               id="name"
                               name="name"
                               class="form-control xs"
                               placeholder="권한 이름을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="description">권한 설명</label>
                    </th>
                    <td>
                        <input type="text"
                               id="description"
                               name="description"
                               class="form-control xs"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>