<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* 품목 목록 모달 */-->
<th:block th:fragment="container (url, departments, positions)">
  <div th:replace="~{fragments/modal/default :: default (
        'user-list-modal',
        '사용자 목록',
         ~{::content},
         1200
    )}">
    <div th:fragment="content" class="p-2">
      <div class="modal-body pt-0 app-modal-body">
        <!--/* 검색 필터 */-->
        <div th:replace="~{pages/user/modal/list/filter :: filter (${url}, ${departments}, ${positions})}">
        </div>

        <!--/* 사용자 목록 */-->
        <div class="user-list"></div>
      </div>
    </div>
  </div>
</th:block>

</html>