<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('설비 등록', ~{}, ~{::script}, 'EQUIPMENT', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/equipment/new.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('설비 등록', '기준정보관리, 설비관리, 등록')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/equipments}'|">
            <i class="bi bi-x-circle"></i> 취소
        </button>

        <button type="submit"
                form="equipments-create-form"
                class="btn btn-primary btn-sm"
                sec:authorize="hasAuthority('USER_CREATE')">
            <i class="bi bi-floppy"></i> 저장
        </button>
    </div>

    <!--/* 등록 양식 */-->
    <div class="app-box app-box-bg">
        <form id="equipments-create-form" method="post" th:action="@{/equipments}">
            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>설비 코드 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="code"
                               class="app-form-control app-xs"
                               placeholder="설비 코드를 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>설비명 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="name"
                               class="app-form-control app-xs"
                               placeholder="설비명을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>설비 유형</th>
                    <td>
                        <select name="equipmentTypeCodeId"
                                class="app-form-control app-xs">
                            <option value="">
                                유형 선택
                            </option>
                            <option th:if="${#lists.isEmpty(equipmentTypes)}" value="" disabled>
                                등록된 설비 유형이 없습니다.
                            </option>
                            <option th:each="type : ${equipmentTypes}"
                                    th:value="${type.id}"
                                    th:text="${@format.nameWithCode(type.code, type.name)}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>규격</th>
                    <td>
                        <input type="text"
                               name="specification"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>제조사</th>
                    <td>
                        <input type="text"
                               name="manufacturer"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>모델</th>
                    <td>
                        <input type="text"
                               name="model"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>시리얼 번호</th>
                    <td>
                        <input type="text"
                               name="serialNo"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>설치 위치</th>
                    <td>
                        <input type="text"
                               name="location"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td>
                        <input type="text"
                               name="remark"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>