<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="list">
    <div class="d-flex justify-content-sm-between mt-1">
        <div class="d-flex align-items-end">
            <p class="fw-bold mb-0"
               th:text="|Total : ${bomItems.size()} 건|"></p>
        </div>
        <div>
            <button type="button"
                    class="item-select-confirm-button btn btn-primary btn-sm">
                <i class="fa fa-pencil" aria-hidden="true"></i> 등록
            </button>
        </div>
    </div>
    <div class="modal-body pt-0 app-modal-body">
        <div id="item-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>품목 코드</th>
                    <th>품목명</th>
                    <th>카테고리</th>
                    <th>품목 유형</th>
                    <th>규격</th>
                    <th>수량</th>
                    <th>단위</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bomItem : ${bomItems}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${bomItem.id}"/>
                    </td>
                    <td th:text="${bomItem.item.code}"></td>
                    <td th:text="${bomItem.item.name}"></td>
                    <td th:text="${@format.value(bomItem.item.category)}"></td>
                    <td th:text="${bomItem.item.type?.description}"></td>
                    <td th:text="${@format.value(bomItem.item.specification)}"></td>
                    <td th:text="${#numbers.formatDecimal(bomItem.quantity, 1, bomItem.uom.scale)}"></td>
                    <td th:text="${bomItem.uom.code}"></td>
                    <td></td>
                </tr>
                <tr th:if="${#lists.isEmpty(bomItems)}">
                    <td colspan="9">
                        기본 BOM이 등록되어 있지 않습니다.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

</html>