<!--/* 헤더 */-->
<head th:fragment="head (title, links, scripts)">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <title th:text="${title} ?: _">BizPlus MES</title>

    <!--/* Favicon */-->
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

    <!--/* Google Font */-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

    <!-- ================= CSS ================= -->

    <!--/* Vendor CSS */-->
    <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/icons/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/lib/font-awesome/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/lib/jquery-ui/jquery-ui.min.css}"/>

    <!--/* Project CSS */-->
    <link rel="stylesheet" th:href="@{/css/app.css}"/>

    <!--/* Page CSS */-->
    <th:block th:replace="${links}"></th:block>

    <!-- ================= JS ================= -->

    <!--/* Vendor JS */-->
    <script th:src="@{/lib/jquery/jquery-4.0.0.min.js}"></script>
    <script th:src="@{/lib/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/lib/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/lib/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/lib/jquery-validation/additional-methods.min.js}"></script>

    <!--/* Project JS */-->

    <!--/* Page JS */-->
    <th:block th:replace="${scripts}"></th:block>
</head>

