<!--/* 사이드 바 */-->
<th:block th:fragment="sidebar (active)">
    <div class="sidebar" th:with="active=${active}">
        <div class="brand">
            <a th:href="@{/}" class="logo">MES DEMO</a>
        </div>
        <div class="logout">
            <!--/* 이거 post로 보내야 시큐리티 작동함 나중에 form 으로 교체 */-->
            <a th:href="@{/logout}" class="btn-xs">로그아웃</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item"
                th:each="menuGroup : ${menus}"
                th:if="${menuGroup.type.name == 'GROUP'}">
                <label class="sidebar-label" th:text="${menuGroup.name}"></label>
                <nav class="sidebar-subItem">
                    <a th:each="menuItem : ${menus}"
                       th:if="${menuGroup.id == (menuItem.parent != null ? menuItem.parent.id : '')}"
                       th:href="@{${menuItem.path}}"
                       class="sidebar-link"
                       th:classappend="${active == menuItem.code ? 'active' : ''}"
                       th:text="${menuItem.name}"></a>
                </nav>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(function () {

            $('.sidebar-label').on('click', function () {
                const $label = $(this);
                const $subMenu = $label.next('.sidebar-subItem');

                // 클릭 연타 방지
                $subMenu.stop(true, true).slideToggle();
                $label.toggleClass('expanded');
            });

            const $active = $('.sidebar-link.active');

            if ($active.length) {
                $active.closest('.sidebar-item')
                    .find('> .sidebar-label')
                    .trigger('click');
            }
        });
    </script>
</th:block>