<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="list (workOrders)">
    <div class="app-box app-box-bg mt-2">
        <div>
            <div>
                <p class="h5 fw-bold">작업지시 목록</p>
            </div>
        </div>

        <div id="work-order-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 100px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 150px">
                </colgroup>
                <thead>
                <tr>
                    <th>작업지시 번호</th>
                    <th>작업 공정</th>
                    <th>작업 일자</th>
                    <th>작업 수량</th>
                    <th>설비</th>
                    <th>작업자</th>
                    <th>비고</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(workOrders)}">
                    <td colspan="7" class="p-4">등록된 작업지시 정보가 없습니다.</td>
                </tr>
                <tr th:each="workOrder : ${workOrders}">
                    <td th:text="${workOrder.orderNo}"></td>
                    <td th:text="${workOrder.productionOrderProcess.name}"></td>
                    <td th:text="${#temporals.format(workOrder.date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#numbers.formatDecimal(workOrder.quantity, 1, workOrder.uom.scale)}"></td>
                    <td th:text="${@format.value(workOrder.equipment.name)}"></td>
                    <td th:text="${@format.value(workOrder.worker.name)}"></td>
                    <td th:text="${@format.value(workOrder.remark)}"></td>
                    <td th:switch="${workOrder.status?.name}">
                        <h6 th:case="'DRAFT'" class="mb-0">
                            <span class="badge text-bg-secondary p-2"
                                  th:text="${workOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'PENDING'" class="mb-0">
                            <span class="badge text-bg-secondary p-2"
                                  th:text="${workOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'IN_PROGRESS'" class="mb-0">
                            <span class="badge text-bg-primary p-2"
                                  th:text="${workOrder.status?.description}"></span>
                        </h6>
                        <h6 th:case="'COMPLETED'" class="mb-0">
                            <span class="badge text-bg-success p-2"
                                  th:text="${workOrder.status?.description}"></span>
                        </h6>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

</html>