<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="form (bom, bomItems, uoms)">
    <div class="app-box app-box-bg mt-2">
        <div class="d-flex justify-content-between">
            <div>
                <p class="h5 fw-bold">BOM 구성 품목</p>
            </div>
            <div>
                <button type="button"
                        id="bom-item-create-button"
                        th:data-bom-id="${bom.id}"
                        class="btn btn-primary btn-sm me-1">
                    등록
                </button>
                <button type="button"
                        id="bom-item-delete-button"
                        class="btn btn-danger btn-sm">
                    삭제
                </button>
            </div>
        </div>

        <div id="bom-item-table">
            <table class="app-table-list text-center">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="check-all"/></th>
                    <th>품목 코드</th>
                    <th>품목명</th>
                    <th>카테고리</th>
                    <th>품목 유형</th>
                    <th>규격</th>
                    <th>수량</th>
                    <th>단위</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bomItem, stat : ${bomItems}">
                    <td>
                        <input type="checkbox"
                               class="check-item"
                               th:value="${bomItem.id}"/>
                    </td>
                    <td th:text="${bomItem.item.code}"></td>
                    <td th:text="${bomItem.item.name}"></td>
                    <td th:text="${@format.value(bomItem.item.category)}"></td>
                    <td th:text="${bomItem.item.type?.description}"></td>
                    <td th:text="${@format.value(bomItem.item.specification)}"></td>
                    <td>
                        <input type="number"
                               class="bom-item-quantity app-form-control app-xs"
                               th:name="|bomItems[${stat.index}].quantity|"
                               th:value="${#numbers.formatDecimal(bomItem.quantity, 1, bomItem.uom.scale)}"
                               min="0"/>
                        <input type="hidden"
                               th:name="|bomItems[${stat.index}].id|"
                               th:value="${bomItem.id}"/>
                    </td>
                    <td>
                        <select class="app-form-control app-xs"
                                th:name="|bomItems[${stat.index}].uomId|">
                            <option th:each="uom : ${uoms}"
                                    th:value="${uom.id}"
                                    th:text="${uom.code}"
                                    th:selected="${uom.id == bomItem.uom.id}">
                            </option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

</html>