<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<script src="../../../../static/js/common/checkbox.js"></script>
<div th:fragment="filter (url, count)">
    <form method="GET" th:action="${url}">
        <table class="app-table-input">
            <colgroup>
                <col style="width: 10%">
                <col style="width: 22%">
                <col style="width: 10%">
                <col style="width: 22%">
            </colgroup>

            <tbody>
            <tr>
                <th>
                    <label for="menuName">메뉴</label>
                </th>
                <td>
                    <input type="text"
                           id="menuName"
                           name="menuName"
                           class="app-form-control app-xs"
                           th:value="${param.menuName}">
                </td>
                <th>
                    <label for="name">코드 그룹</label>
                </th>
                <td>
                    <input type="text"
                           id="name"
                           name="name"
                           class="app-form-control app-xs"
                           th:value="${param.name}">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-2 mb-2 text-end">
            <button type="submit" class="btn btn-secondary btn-sm">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <div class="fw-bold"
                 th:text="|Total : ${count} 건|">
            </div>
            <div>
            </div>
        </div>
    </form>
</div>
</html>