<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/main :: layout ('BOM 수정', ~{}, ~{::script}, 'BOM', ~{::#app-content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/pages/bom/edit.js}"></script>
    <script type="module" th:src="@{/js/pages/bom-item/form.js}"></script>
</head>
<body>
<!--/* 콘텐츠 */-->
<div id="app-content">
    <!--/* 헤더 */-->
    <div th:replace="~{fragments/content :: header ('BOM 수정', '기준정보관리, BOM관리, 상세, 수정')}">
    </div>

    <!--/* 버튼 영역 */-->
    <div class="action-bar">
        <button type="button"
                class="btn btn-secondary btn-sm"
                th:onclick="|location.href='@{/boms}'|">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> 목록
        </button>

        <button type="submit"
                form="bom-edit-form"
                class="btn btn-primary btn-sm"
                sec:authorize="hasAuthority('BOM_UPDATE')">
            <i class="fa fa-pencil" aria-hidden="true"></i> 저장
        </button>
    </div>

    <form id="bom-edit-form"
          method="post"
          th:action="@{/boms/{id}(id=${bom.id})}"
          th:object="${bom}">
        <!--/* BOM 수정 폼 */-->
        <div class="app-box app-box-bg">

            <input type="hidden" name="id" th:value="*{id}"/>

            <table class="app-table-input">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>제품</th>
                    <td th:text="*{item.name}"></td>
                </tr>
                <tr>
                    <th>BOM 코드 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="code"
                               class="app-form-control app-xs"
                               th:value="*{code}"
                               placeholder="BOM 코드를 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>BOM명 <span class="app-required">*</span></th>
                    <td>
                        <input type="text"
                               name="name"
                               class="app-form-control app-xs"
                               th:value="*{name}"
                               placeholder="BOM명을 입력해 주세요."/>
                    </td>
                </tr>
                <tr>
                    <th>버전</th>
                    <td>
                        <input type="text"
                               name="version"
                               class="app-form-control app-xs"
                               th:value="*{version}"/>
                    </td>
                </tr>
                <tr>
                    <th>기본 BOM 여부</th>
                    <td>
                        <label>
                            <input type="checkbox"
                                   name="primary"
                                   value="true"
                                   th:checked="*{primary}"/>
                            기본 BOM으로 지정
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td>
                        <input type="text"
                               name="remark"
                               th:value="*{remark}"
                               class="app-form-control app-xs"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--/* BOM 구성 품목 폼 */-->
        <div th:replace="~{pages/bom-item/fragments/form :: form (${bom}, ${bomItems}, ${uoms})}"></div>
    </form>

    <!--/* BOM 구성품 등록용 모달 */-->
    <div th:replace="~{pages/item/modal/list :: list (
        'item-multi-select-modal',
        @{/items/bom_item/modal/multi-select-list},
        ${itemCategories},
        ${bomItemTypes})}">
    </div>
</div>
</body>
</html>