<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<div th:fragment="filter (uoms, url, count, showActions)">
    <div></div>
    <form method="GET" th:action="${url}">
        <table class="app-table-input">
            <colgroup>
                <col style="width: 150px">
                <col style="width: auto">
                <col style="width: 150px">
                <col style="width: auto">
            </colgroup>
            <tbody>
            <tr>
                <th>변환 전 단위</th>
                <td>
                    <select name="fromUomId"
                            class="app-form-control app-xs">
                        <option value="">전체</option>
                        <option th:each="uom : ${uoms}"
                                th:value="${uom.id}"
                                th:text="|${uom.code} (${uom.name})|"
                                th:selected="${#strings.equals(param.fromUomId, uom.id)}">
                        </option>
                    </select>
                </td>
                <th>변환 후 단위</th>
                <td>
                    <select name="toUomId"
                            class="app-form-control app-xs">
                        <option value="">전체</option>
                        <option th:each="uom : ${uoms}"
                                th:value="${uom.id}"
                                th:text="|${uom.code} (${uom.name})|"
                                th:selected="${#strings.equals(param.toUomId, uom.id)}">
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-2 mb-2 text-end">
            <button type="submit" class="btn btn-secondary btn-sm">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <div class="fw-bold"
                 th:text="|Total : ${count} 건|">
            </div>
            <div>
                <th:block th:if="${showActions}">
                    <button type="button"
                            class="btn btn-secondary btn-sm"
                            sec:authorize="hasAuthority('UOM_READ')"
                            th:onclick="|location.href='@{/uoms}'|">
                        <i class="bi bi-arrow-left"></i> 단위 목록
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            id="uom-conversion-create-button"
                            sec:authorize="hasAuthority('UOM_CREATE')">
                        <i class="bi bi-plus-circle"></i> 등록
                    </button>
                    <button type="button"
                            id="uom-conversion-delete-button"
                            class="btn btn-danger btn-sm"
                            sec:authorize="hasAuthority('UOM_DELETE')">
                        <i class="bi bi-trash"></i> 삭제
                    </button>
                </th:block>
            </div>
        </div>
    </form>
</div>

</html>