<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* BOM 구성 품목 목록 모달 */-->
<th:block th:fragment="base (url, primaryBom, boms)">
    <div th:replace="~{fragments/modal/default :: default (
        'bom-item-select-modal',
        'BOM 구성 품목 목록',
         ~{::content},
         1200
    )}">
        <div th:fragment="content" class="p-2">
            <div class="modal-body pt-0 app-modal-body">
                <!--/* 검색 필터 */-->
                <div th:replace="~{pages/bom-item/modal/filter :: filter (${url}, ${primaryBom}, ${boms})}">
                </div>

                <!--/* 품목 목록 */-->
                <div class="bom-item-list"></div>
            </div>
        </div>
    </div>
</th:block>

</html>